/*
* @Author: mjgao@isscloud.com
* @Date:   2018-06-05 18:47:39
* @Last Modified by:   mjgao@isscloud.com
* @Last Modified time: 2018-06-05 18:47:41
*/
.demo_box{
	width: 500px;
	height: 300px;
	background: url(./index.jpg) no-repeat left top;
	background-size: cover;
}